{% extends 'base.html.twig' %}

{% block title %}Fitness Club - Réinitialisation du mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/login.css') }}">

{% endblock%}

{% block javascripts %}
    {{ encore_entry_script_tags('reset') }}

{% endblock%}

{% block body %}

    <div class="page-container">
        <div class="form-container">
            <div class="logo-img"></div>
            <form method="post">
                <h2 class="reset-title">Mot de passe oublié</h2>
                <p class="reset-p">Entrez votre adresse email pour recevoir un email de réinitialisation du mot de passe.</p>
                {{ form_start(resetPassForm) }}
                {{ form_row(resetPassForm.email) }}
                <button type="submit" class="mainForm-btn">Valider</button>
                {{ form_end(resetPassForm) }}
                <a href="{{ path('app_login') }}" class="reset-pass">Retour</a>
            </form>
        </div>
    </div>
{% endblock %}
