{% extends 'base.html.twig' %}

{% block title %}Fitness Club - Réinitialisation du mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/login.css') }}">

{% endblock%}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}

{% endblock%}

{% block body %}
    <div class="page-container">
        <h1><span>Fitness</span> Club</h1>
        <div class="form-container">
            <form method="post">
                <h2 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h2>
                <p class="reset-p">Entrez votre adresse email pour recevoir un email de réinitialisation du mot de passe.</p>
                {{ form_start(resetPassForm) }}
                {{ form_row(resetPassForm.email) }}

                <button type="submit" class="btn btn-lg btn-primary">Valider</button>
                {{ form_end(resetPassForm) }}

            </form>
        </div>
    </div>
{% endblock %}
