{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



<div class="text-center">
<h1>Veuillez confirmer votre compte</h1><br>

    <p>Bonjour,</p>
    <p>Un nouveau compte vient d'être créé pour votre structure à l'adresse : <b> {{ structure.address }} {{ structure.zipcode }} {{ structure.city }} </b></p>
    <p>Voici vos identifiants :</p>
    <p>Adresse email : {{ user.email }}</p>
    <p>Mot de passe : {{ password }}</p>
    <p>Veuillez confirmer votre adresse email en cliquant sur le lien suivant :</p><br><br>
    <a href="{{ signedUrl }}" class="btn btn-primary">Confirmer mon adresse email</a><br><br>
    <p>Un nouveau mot de passe vous sera demandé après votre première connexion.</p>
    <p>Ce lien expire dans une heure.</p><br>


    <p>Cordialement,</p><br>

    <p>Votre gestionnaire Fitness Club</p>
</div>

