{% extends 'base.html.twig' %}

{% block title %}Fitness Club - Bienvenue{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/read.css') }}">
    <link rel="stylesheet" href="{{ asset('build/navBar.css') }}">

{% endblock%}

{% block javascripts %}
    {{ encore_entry_script_tags('read') }}
    {{ encore_entry_script_tags('navBar') }}

{% endblock%}

{% block body %}

<div class="example-wrapper">
    {% include 'Partials/_navBar.html.twig' %}
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/apps/Fitness-club-app/src/Controller/PartnerController.php'|file_link(0) }}">src/Controller/PartnerController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/apps/Fitness-club-app/templates/partner/admin.html.twig'|file_link(0) }}">templates/partner/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
