{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Nouveau structure</h1>


    {{ form_start(structureForm) }}
    {{ form_row(structureForm.structure.partner) }}
    {{ form_row(structureForm.user.email) }}
    {{ form_row(structureForm.user.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(structureForm.structure.address) }}
    {{ form_row(structureForm.structure.zipcode) }}
    {{ form_row(structureForm.structure.city) }}
    <button type="submit" class="btn">Valider</button>
    {{ form_end(structureForm) }}



{% endblock %}