{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/adminNavBar.css') }}">
    <link rel="stylesheet" href="{{ asset('build/partners.css') }}">
{% endblock%}

{% block javascripts %}
    {{ encore_entry_script_tags('adminNavBar') }}
    {{ encore_entry_script_tags('partners') }}
    {{ encore_entry_script_tags('app') }}
{% endblock%}

{% block body %}
    {% include 'Partials/_admin_navBar.html.twig' %}

<div class="main-container">
    <h2>Liste des partenaires</h2>

    <div class="filter-bar">
        <input type="text" class="form-control" id="search-bar" placeholder=" Rechercher un partenaire...">

        <form id="filters">
            <label for="filter-select">Filtrer</label>
            <select name="filters" id="filter-select">
                <option value="none">Tous</option>
                <option value="1">Activés</option>
                <option value="0">Désactivés</option>
            </select>

        </form>
    </div>
    <p class="number-structure">Nombre de résultats : {{ partners|length }}</p>
    <div id="content">
        {% include 'Partials/_content.html.twig' %}
    </div>
</div>
{% endblock %}
