{% extends 'base.html.twig' %}

{% block title %}Fitness Club - Nouveau partenaire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Nouveau partenaire</h1>

    {{ form_start(partnerForm) }}
    {{ form_row(partnerForm.partner.name) }}
    {{ form_row(partnerForm.user.email) }}
    {{ form_row(partnerForm.user.plainPassword, {
        label: 'Password'
    }) }}
    <button type="submit" class="btn">Ajouter le partenaire</button>
    {{ form_end(partnerForm) }}



{% endblock %}