{% extends 'base.html.twig' %}

{% block title %}Fitness Club{% endblock %}

{% block body %}

{% block stylesheets %}
    {{ parent() }}
   <link rel="stylesheet" href="{{ asset('build/adminNavBar.css') }}">
    <link rel="stylesheet" href="{{ asset('build/panel.css') }}">
{% endblock%}

{% block javascripts %}
    {{ encore_entry_script_tags('adminNavBar') }}
    {{ encore_entry_script_tags('panel') }}
{% endblock%}

<div class="main-container">
    {% include 'Partials/_admin_navBar.html.twig' %}

    <h2>Bonjour Manager !</h2>

    <h3>Tableau de bord</h3>
    <div class="dashboard-cards">
        <div class="dashboard-card">
            <h4>Partenaires</h4>
            <p>{{ partners|length }}</p>
        </div>
        <div class="dashboard-card">
            <h4>Structure</h4>
            <p>{{ structures|length }}</p>
        </div>
    </div>
</div>
{% endblock %}
