{% extends 'base.html.twig' %}

{% block title %}Fitness Club - Structures{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/adminNavBar.css') }}">
    <link rel="stylesheet" href="{{ asset('build/partners.css') }}">
{% endblock%}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adminNavBar') }}
    {{ encore_entry_script_tags('structures') }}

{% endblock%}

{% block body %}
    {% include 'Partials/_admin_navBar.html.twig' %}

<div class="main-container">
    <div class="filter-bar">
        <h2>Liste des structures</h2>
        <div class="search-bar">
            <input type="text" class="form-control" id="search-bar" placeholder=" Saisissez l'adresse ou le nom du partenaire de la structure...">
            <form id="filters">
                <label for="filter-select">Filtrer</label>
                <select name="filters" id="filter-select">
                    <option value="none">Tous</option>
                    <option value="1">Activés</option>
                    <option value="0">Désactivés</option>
                </select>
            </form>
        </div>
    </div>

    <div id="content">
        {% include 'Partials/_structure_content.html.twig' %}
    </div>
</div>
{% endblock %}
