{% extends 'base.html.twig' %}

{% block title %}Fitness Club - Nouvelle structure{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/adminNavBar.css') }}">
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('adminNavBar') }}
{% endblock%}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% include 'Partials/_admin_navBar.html.twig' %}

    <h1>Nouvelle structure</h1>


    {{ form_start(structureForm) }}
    {{ form_row(structureForm.structure.partner) }}
    {{ form_row(structureForm.user.email) }}
    {{ form_row(structureForm.user.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(structureForm.structure.address) }}
    {{ form_row(structureForm.structure.zipcode) }}
    {{ form_row(structureForm.structure.city) }}
    <button type="submit" class="btn">Ajouter la structure</button>
    {{ form_end(structureForm) }}



{% endblock %}