{% extends 'base.html.twig' %}

{% block title %}Fitness Club - Nouveau partenaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/adminNavBar.css') }}">
    <link rel="stylesheet" href="{{ asset('build/formAdd.css') }}">
{% endblock%}

{% block javascripts %}
    {{ encore_entry_script_tags('adminNavBar') }}
    {{ encore_entry_script_tags('formAdd') }}
{% endblock%}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% include 'Partials/_admin_navBar.html.twig' %}
    <div class="main-container">
    <h2>Nouveau partenaire</h2>
<div class="form-add">
    {{ form_start(partnerForm) }}
    {{ form_row(partnerForm.partner.name) }}
    {{ form_row(partnerForm.user.email) }}
    {{ form_row(partnerForm.user.plainPassword, {
        label: 'Mot de passe '
    }) }}
<div class="form-btn">
    <button type="submit" class="btn submit-btn ">Ajouter le partenaire</button>
    {{ form_end(partnerForm) }}
</div>
</div>

{% endblock %}