{% extends 'base.html.twig' %}

{% block title %}Fitness Club - Utilisateurs non vérifiés{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/adminNavBar.css') }}">
    <link rel="stylesheet" href="{{ asset('build/unverified.css') }}">
{% endblock%}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adminNavBar') }}
    {{ encore_entry_script_tags('unverified') }}
{% endblock%}

{% block body %}
    {% include 'Partials/_admin_navBar.html.twig' %}

    <div class="main-container">
        <div class="white-card">
            <h2>Utilisateurs non vérifiés</h2>
            {% if users|length >= 1 %}
                {% set i = 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="nb-th">#</th>
                    <th scope="col" class="email-th">Email</th>
                    <th scope="col" class="role-th">Rôle</th>
                    <th scope="col" class="btn-th">Confirmation</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row" class="nb-th ">{% set i = i + 1 %}{{ i }}</th>
                        <td class="td-cell">{{ user.email }}</td>
                        <td class="td-cell">{% if 'ROLE_PARTNER' in user.roles %}
                        Partenaire
                        {% elseif 'ROLE_STRUCTURE' in user.roles %}
                        Structure
                            {% endif %}</td>
                        <td class="td-cell"><a href="{{ path('app_admin_verify_user', {id: user.id }) }}" class="btn btn-primary">Renvoyer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>Tous les utilisateurs ont vérifié leurs adresses mails.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
